<div ng-controller="uploadController">
    <div ng-show="showForm">
<h1 class="page-header">Upload</h1>
<div>Select the image file to upload in S3 Bucket</div>

    <br/><br/>
    <input type="file" name="sampleFile" file/>
    <br/><br/><br/>
    <input type='button' value='Upload!' class="btn btn-success" id="uploadFormButton" ng-click="upload()"/>
    <div class="">
      {{message}}
    </div>
    </div>
    <div ng-hide="showForm" >
        <h1 class="page-header">Upload Successful</h1>
        <img src="/images/smiley.png" width=200 height="200" class="afterSuccessfullUpload"/>
    </div>

</div>
