<!DOCTYPE html>
<html>

<head>
    <title>AWS POC</title>
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!--<link href="/client/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/client/stylesheets/sb-admin.css" rel="stylesheet">-->
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/sb-admin.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="AWS_POC">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

        </div>
    </nav>
    <ui-view>
        <div id="fullscreen_bg" class="fullscreen_bg">
         <form class="form-signin">
            <h1 class="form-signin-heading text-muted">Cognito Authentication</h1>
            <!--<input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Password" required="">-->
             <a class="navbar-brand btn btn-lg btn-primary btn-block" ui-sref="signup" ui-sref-active="active">SignUp</a>
             <a class="navbar-brand btn btn-lg btn-primary btn-block" ui-sref="signin" ui-sref-active="active">SignIn</a>
        </form>
        </div>

    </ui-view>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/lib/aws-cognito-sdk.min.js"></script>
    <script type="text/javascript" src="/lib/amazon-cognito-identity.min.js"></script>
    <script type="text/javascript" src="/lib/aws-sdk.js"></script>

    <script type="text/javascript" src="/lib/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router.js"></script>

    <script src="/node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="/node_modules/ng-file-upload/dist/ng-file-upload.js"></script>    

    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/services/auth.js"></script>
    <script type="text/javascript" src="/controllers/signin.js"></script>
    <script type="text/javascript" src="/directives/signin.js"></script>
    <script type="text/javascript" src="/controllers/signup.js"></script>
    <script type="text/javascript" src="/directives/signup.js"></script>
    <script type="text/javascript" src="/controllers/buckets.js"></script>
    <script type="text/javascript" src="/directives/buckets.js"></script>
    <script type="text/javascript" src="/controllers/bucket.js"></script>
    <script type="text/javascript" src="/controllers/uploadController.js"></script>
    <script type="text/javascript" src="/directives/uploadDirective.js"></script>
    <script type="text/javascript" src="/directives/bucket.js"></script>

    <script type="text/javascript" src="/controllers/display-image.js"></script>
    <script type="text/javascript" src="/directives/display-image.js"></script>
</body>

</html>
